<turbo-cable-stream-source channel="TurboClone::StreamsChannel" signed-stream-name="articles">
</turbo-cable-stream-source>

<h1>Articles</h1>

<%= link_to "New article",
            new_article_path,
            data: { turbo_frame: dom_id(Article.new) } %>

<%= turbo_frame_tag Article.new %>

<div id="articles">
  <%= render @articles %>
</div>
